.back-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #ed424b;
    .back-bar-img {
        position: absolute;
        top: 50%;
        left: 2%;
        margin-top: -12px;
        img {
            width: 24px;
            height: 24px;
        }
    }
    .back-bar-title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -20px;
        width: 200px;
        height: 40px;
        display: table;
        text-align: center;
        h2 {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            font-size: 18px;
        }
    }
}

