.rank-bar {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 71px;
    width: 25%;
    background-color: #f6f7f9;
    li {
        width: 100%;
        text-align: center;
        span {
            display: inline-block;
            padding: 12px;
        }
    }
    .rank-active {
        background-color: #fff !important;
        border-left: 1px solid #ed424b;
    }
}
