.rank-content {
    float: right;
    margin-top: 40px;
    margin-bottom: 71px;
    width: 75%;
    .rank-content-book {
        margin-top: 5px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #dadada;
        overflow: hidden;
    }
    .rank-book-img {
        float: left;
        margin: 5px 0 0 10px;
        img {
            width: 66px;
            height: 88px;
        }
    }
    .rank-book-detail {
        float: left;
        margin-top: 6px;
        margin-left: 8px;
        width: 65%;
        line-height: 1.4;
        .rank-book-author {
            span {
                color: #969ba3;
            }
        }
        img {
            width: 16px;
            height: 16px;
        }
        p {
            font-size: 12px;
        }
        & div {
            margin-top: 8px;
        }
        .rank-book-rest {
            color: #ed424b;
        }
        .rank-book-like {
            color: #4284ed;
        }
    }
    .rank-book-popularity {
        span {
            display: inline-block;
            margin-left: 5px;
        }
        & span:first-child {
            margin-left: 0;
        }
    }
    .rank-book-introduction {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        p {
            color: #969ba3;
        }
    }
}

.rank-content {
    float: right;
    margin-top: 40px;
    margin-bottom: 71px;
    width: 75%;
    .rank-content-book {
        margin-top: 5px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #dadada;
        overflow: hidden;
    }
    .rank-book-img {
        float: left;
        margin: 5px 0 0 10px;
        img {
            width: 66px;
            height: 88px;
        }
    }
    .rank-book-detail {
        float: left;
        margin-top: 6px;
        margin-left: 8px;
        width: 65%;
        line-height: 1.4;
        .rank-book-author {
            span {
                color: #969ba3;
            }
        }
        img {
            width: 16px;
            height: 16px;
        }
        p {
            font-size: 12px;
        }
        & div {
            margin-top: 8px;
        }
        .rank-book-rest {
            color: #ed424b;
        }
        .rank-book-like {
            color: #4284ed;
        }
    }
    .rank-book-popularity {
        span {
            display: inline-block;
            margin-left: 5px;
        }
        & span:first-child {
            margin-left: 0;
        }
    }
    .rank-book-introduction {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        p {
            color: #969ba3;
        }
    }
}
