.book-info-detail {
    margin-bottom: 10px;
    border-bottom: .5px solid #E8E8E8;
    padding-bottom: 12px;
    min-height: 88px;
    & > div {
        float: left;
    }
    .book-introduction {
        margin-right: 10px;
        p,
        span {
            color: #999;
        }
    }
    .book-img {
        margin: 0 10px;
    }
    .breif-introduction {
        margin-top: 8px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        p {
            line-height: 1.6;
        }
    }
    .book-bar {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        .book-author {
            display: flex;
            img {
                padding: 0 2px;
            }
        }
        .book-tag {
            span {
                padding: 1px;
            }
            .book-type {
                border: 1px solid #999;
            }
            .book-state {
                border: 1px solid #ed424b;
                color: #ed424b;
            }
            .book-popularity {
                border: 1px solid #4284ed;
                color: #4284ed;
            }
        }
    }
}
