.cat-list {
    margin-top: 40px;
    width: 70%;
    overflow: hidden;
    li {
        float: left;
        padding: 10px 0;
        width: 20%;
        text-align: center;
        font-size: 14px;
    }
    .cat-active {
        color: #ed424b;
    }
}

.cat-prompt {
    text-align: center;
    span {
        font-size: 14px;
        color: #8a8a8a;
    }
    img {
        width: 14px;
        height: 14px;
    }
}
