.featured-books {
    margin-top: 40px;
    margin-bottom: 71px;
    width: 100%;
    .swiper-banner img {
        height: 80%;
        width: 100%;
    }
    .book-info {
        margin-top: 20px;
    }
    .book-head {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
    }
    .book-title {
        margin-left: 10px;
        border-left: 2px solid #ed424b;
        padding-left: 8px;
        font-size: 14px;
    }
    .book-more {
        margin-right: 10px;
    }
}
