.search-bar {
    height: 40px;
    background-color: #ed424b;
    .backImg {
        float: left;
        padding: 10px 5px;
        width: 20px;
        height: 20px;
    }
}

.search-input {
    position: relative;
    display: inline-block;
    width: 85%;
    height: 100%;
    input {
        margin: 8px 0 8px 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid #dadada;
        width: 100%;
        height: 20px;
        color: #dadada;
        background-color: transparent;
    }
    img {
        position: absolute;
        top: 8px;
        right: 0;
        width: 14px;
        height: 14px;
    }
}

@mixin container {
    width: 94%;
    margin: 20px auto;
    h2 {
        font-size: 14px;
    }
}

@mixin content {
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid #dadada;
    span {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #dadada;
        border-radius: 20px;
        color: #8c8c8c;
    }
}

.hot-search {
    @include container;
    .hot-search-content {
        @include content;
    }
}

.search-history {
    @include container;
    .search-history-head {
        overflow: hidden;
        & > h2:first-child {
            float: left;
        }
        & > h2:nth-child(2) {
            float: right;
        }
    }
    .search-histtory-content {
        @include content;
    }
}