.toobar {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid #dadada;
    background-color: #fff;
    a {
        width: 25%;
        text-align: center;
        & > div {
            padding: 12px 0;
        }
        img {
            width: 24px;
            height: 24px;
        }
        p {
            color: #707070;
        }
    }
}

.router-link-exact-active p {
    color: #ed424b !important;
}
